<a href="https://colab.research.google.com/github/yosepprianto/Machine-Learning/blob/main/Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [16]:
import pandas as pd
path=("/content/drive/My Drive/Machine Learning/dataset/imdb_indonesian_movies_2.csv")
dataset=pd.read_csv(path)
dataset

                     judul_film  ...     genre
0                Sunan Kalijaga  ...     Drama
1                           Gie  ...     Drama
2     Guru Bangsa Tjokroaminoto  ...     Drama
3                     POL Movie  ...     Drama
4                 Sang pencerah  ...     Drama
...                         ...  ...       ...
1000            Winter in Tokyo  ...  Romantis
1001            Petualang Cinta  ...  Romantis
1002           Last Night (III)  ...  Romantis
1003              Path of Light  ...  Romantis
1004   Kulihat cinta di matanya  ...  Romantis

[1005 rows x 3 columns]

In [17]:
dataset.head()

                  judul_film  ...  genre
0             Sunan Kalijaga  ...  Drama
1                        Gie  ...  Drama
2  Guru Bangsa Tjokroaminoto  ...  Drama
3                  POL Movie  ...  Drama
4              Sang pencerah  ...  Drama

[5 rows x 3 columns]

In [18]:
dataset.shape

(1005, 3)

In [19]:
dataset.isnull().sum()

judul_film            0
ringkasan_sinopsis    0
genre                 0
dtype: int64

In [20]:
dataset.max()

judul_film                                                    Yowis Ben
ringkasan_sinopsis    “radit dan jani” bercerita tentang sepasang ke...
genre                                                          Romantis
dtype: object

In [21]:
dataset.min()

judul_film                                                          #66
ringkasan_sinopsis    "Aku Ingin Ibu Pulang" menceritakan tentang se...
genre                                                             Drama
dtype: object

In [22]:
dataset.describe()

           judul_film                                 ringkasan_sinopsis  genre
count            1005                                               1005   1005
unique           1005                                               1001      5
top     The Butterfly  Film ini adalah prequel dari film Habibie dan ...  Drama
freq                1                                                  2    202

In [23]:
data=dataset.dropna()

In [24]:
data.shape

(1005, 3)

In [25]:
dataset.dropna(axis=0,subset=['ringkasan_sinopsis','genre'],inplace=True)

In [26]:
dataset.shape

(1005, 3)

In [27]:
#Memilih target prediksi (prediction target)
y=data['ringkasan_sinopsis']
y

0       Raden Mas Said putra sulung Tumenggung Wilarik...
1       Soe Hok Gie adalah seorang aktivis yang hidup ...
2       Guru Bangsa Tjokroaminoto menceritakan tentang...
3       POL menceritakan kisah hidup yang luar biasa d...
4       Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...
                              ...
1000    Winter in Tokyo berpusat pada kehidupan Ishida...
1001    Markonah melarikan diri ke Jakarta karena akan...
1002    Tempat aking lebih dari 36 jam, Last Night ada...
1003    Proyek baru ini adalah tentang seorang lelaki ...
1004    Atika (Meriam Bellina) mantan penyanyi tenar, ...
Name: ringkasan_sinopsis, Length: 1005, dtype: object

In [28]:
#memilih fitur (feature selection)
Fitur=['judul_film','genre']
x=data[Fitur]
x

                     judul_film     genre
0                Sunan Kalijaga     Drama
1                           Gie     Drama
2     Guru Bangsa Tjokroaminoto     Drama
3                     POL Movie     Drama
4                 Sang pencerah     Drama
...                         ...       ...
1000            Winter in Tokyo  Romantis
1001            Petualang Cinta  Romantis
1002           Last Night (III)  Romantis
1003              Path of Light  Romantis
1004   Kulihat cinta di matanya  Romantis

[1005 rows x 2 columns]